
.button{
background-color: #2E86C1;
    color:white;
}

.msg{
color: blueviolet
}

.display{
color: green;
}

.error{
color: red;
}

.barc{
    background: url(../img/img.jpg);
    background-size: cover;
}

.barcLogin{
background-color: #ffffff;
    background-size: cover;
}
.r_main{
    background: url(../img/mainpage.gif);
    background-size: cover;
    opacity: 1;
	background-position: center; 
}

.barcHome{
    background-image: url(../img/giphy.gif);
    background-size: cover;
    opacity: 1;
}

.barcRecipe{
    background-image: url(../img/img.jpg);
    background-size: cover;
    opacity: 1;
}

div.div_buttons {
    position:absolute;
    opacity: 1;
}

.list.list-inset{
    
}

.bar.bar-stable .title {   
    text-decoration-color: navy;
}

div.transbox {
  margin: 18px;
  background-color: #ffffff;
    border: 2px solid black;
  opacity: ;
	
  
    border-radius: 25px;
    background: url();
    background-position: left top;
    background-repeat: repeat;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

div.inputbox {
    position: relative;
}

div.VenueList {
    position: relative;
}

div.menuItems {
    position: relative;
}

div.div_RecipeDetails {
    position: relative;
}

div.div_RecipeIngredients {
    position: relative;
}

.kge-search-picker {
            width: 20px;
        }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.7s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

div
{
    position: relative;
}

#accomodationMap {
  position:absolute;  
  height:550%; 
  width:125%;
}

.infoWindowContent {
  font-size:  10px;
  border-top: 0.1px solid #ccc;
  padding-top: 1px;
}

input[type="text"]
{
    background: transparent;
    border: none;
}

table, th, td {
    border: 1px solid black;
}