<ion-view title="Smart Eating">
    <ion-content class="barc">
        <br/>
            
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
  <a href="javascript:void(0)" ng-click="RedirectHome()">Home</a>
  <a href="javascript:void(0)" ng-click="Restaurant()">Get Restaurant</a>
  <a href="javascript:void(0)" ng-click="Recipe()">Get Recipe</a>
  <a href="javascript:void(0)" ng-click="Allergic()">Allergic To</a>
  <a href="javascript:void(0)" ng-click="Translate()">Translate</a>
  <a href="javascript:void(0)" ng-click="AboutUs()">About Us</a>
  <a href="javascript:void(0)" ng-click="ChangePassword()">Change Password</a>
  <a href="javascript:void(0)" ng-click="Logout()">Logout</a>
</div>
        
<span style="font-size:30px;cursor:pointer;top:10px;" ng-click="openNav()">&nbsp;&#9776; </span>
        <center>
        <h1>About Us</h1>
        <p>      Smart Eating is the best way to find food near you. </p>
        <p>It not only allows you to find the near by restaurants but also helps you in finding the menu and you can find the  recipies and ingredients for the delicious food items.</p>
        <p>You can also make the recipies based on the ingredients you have and it displays how to make that item.</p>
        <p>You can add food items you are allergic to so that while you are searching for menu, you can easily find items which doesn't have those allergies.</p>
        <p>And hence that will be easier for user to differentiate what to eat. </p>
            <br/><br/>
            <p><i>Designed By : Cognitive Squads </i></p>
        </center>
    </ion-content>
</ion-view>