<ion-view title="Smart Eating">
    <ion-content class="barc">
        <br/>
            
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
  <a href="javascript:void(0)" ng-click="RedirectHome()">Home</a>
  <a href="javascript:void(0)" ng-click="Restaurant()">Get Restaurant</a>
  <a href="javascript:void(0)" ng-click="Recipe()">Get Recipe</a>
  <a href="javascript:void(0)" ng-click="Allergic()">Allergic To</a>
  <a href="javascript:void(0)" ng-click="Translate()">Translate</a>
  <a href="javascript:void(0)" ng-click="AboutUs()">About Us</a>
  <a href="javascript:void(0)" ng-click="ChangePassword()">Change Password</a>
  <a href="javascript:void(0)" ng-click="Logout()">Logout</a>
</div>
        
<span style="font-size:30px;cursor:pointer;top:10px;" ng-click="openNav()">&nbsp;&#9776; </span>
     
        <h2 align="absolute" style="text-align: center; color: #2E86C1">Update Password</h2>
        
        <br/>
     <br/><br/>
        <center>
    <input type="search" id="txt_oldPassword" placeholder="Old Password" style="font-size:20px; font-color: #333333;"/>
    <input type="search" id="txt_newPassword" placeholder="New Password" style="font-size:20px; font-color: #333333;"/>
    <input type="search" id="txt_re-enterNewPassword" placeholder="Re-Enter New Password" style="font-size:20px; font-color: #333333;"/><br/>
</center>
   <br/><br/>
        <center><button id="btn_getRestaurant" ng-click="getRecipes()" class="button" >Update Password</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button id="btn_getRestaurant" ng-click="getRecipes()" class="button" >Cancel</button>
            <br/></center><br/>
    </ion-content>
</ion-view>